<nav class="navbar navbar-expand-lg bg-light header">
    <a class="navbar-brand ml-5 text-white" [routerLink]="['/home']">Oksjon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mr-5" style="padding-top:5px;">

            <li *ngIf="logged" class="nav-item mr-2">
                <a [routerLink]="['/']" class="btn btn-info">Minu esemed</a>
            </li>
            <li *ngIf="logged" class="nav-item">
                <a [routerLink]="['/home']" class="btn btn-outline-secondary" (click)="onLoggedout()">Välju</a>
            </li>
            <li *ngIf="!logged" class="nav-item mr-2">
                <a [routerLink]="['/auth/login']" routerLinkActive="active" class="btn btn-outline-info">Logi sisse</a>
            </li>

            <li *ngIf="!logged" class="nav-item">
                <a [routerLink]="['/auth/signup']" routerLinkActive="active" class="btn btn-info">Registreeri</a>
            </li>

        </ul>
    </div>
</nav>