<div class="form-group" *ngIf="visible">
    <br>
    <form role="form" (ngSubmit)="onSubmit();" #addBidForm="ngForm">
        <div class="row">
            <div class="col-3">
                <label for="bidder">Pakkuja</label>
            </div>
            <div class="col-9">
                <input type="text" name="bidder" style="width:100%;" [(ngModel)]="model.bidder" id="bidder" placeholder="Nimi" required>
            </div>

            <div [hidden]="!errorBidder" style="margin-left:30%; color:red">
                <small>Pakkuja nimi on kohustuslik</small>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <label for="price">Summa</label>
            </div>
            <div class="col-9">
                <input type="number" style="width:100%;" name="price" [(ngModel)]="model.price" id="price" placeholder="€" required>
            </div>

            <div [hidden]="!errorPrice" style="margin-left: 30%; color:red">
                <small>Pakutav summa on kohustuslik</small>
            </div>

        </div>
        <br>
        
        <div class="row">
            <div class="col-7 offset-5">
                <button class="btn btn-sm btn-dark btn-margin" style="border-radius:10rem; float:right" type="submit">Lisa pakkumine</button>
            </div>
        </div>
    </form>
</div>