<div class="row">

    <div *ngIf="!editSavedItem">

        <div class="card" style="width: 20rem; justify-content:center;">

            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h5>{{savedItem.title}}</h5>
                    </div>
                    <button class="btn btn-sm btn-edit" (click)="editItem(savedItem)" placement="top" ngbTooltip="Muuda">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-sm btn-delete" (click)="removeItem(savedItem._id)" placement="top" ngbTooltip="Eemalda">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <h6 class="card-title">{{formatTimestamp(savedItem.timestamp)}}</h6>
                <p class="card-text">{{savedItem.description}}</p>
                <button class="btn btn-sm btn-outline-secondary" (click)="publishSavedItem(savedItem)">Pane oksjonile</button>
            </div>

        </div>

    </div>


    <div *ngIf="editSavedItem">
        <form role="form" (ngSubmit)="saveEditedItem(savedItem);" #editItemForm="ngForm">
            <div class="card" style="width: 20rem; justify-content:center;">

                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            <input type="text" class="form-control" name="title" [(ngModel)]="savedItem.title" id="title">
                        </div>

                        <button class="btn btn-sm btn-delete" (click)="endEditMode()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-12" style="padding-left:0px;">

                        <div class="input-group" style="width:60%;">
                            <input class="form-control" name="enddate" [(ngModel)]="enddate" ngbDatepicker #d="ngbDatepicker"
                                required>
                            <span class="input-group-btn">
                                <button class="input-group-addon" (click)="d.toggle()" type="button">
                                    <i class="fa fa-lg fa-calendar-plus-o" aria-hidden="true"></i>
                                </button>
                            </span>

                        </div>
                        <br>
                        <ngb-timepicker [spinners]="spinners" name="endtime" type="date" [(ngModel)]="endtime"></ngb-timepicker>
                        <br>
                        <textarea type="text" class="form-control" name="description" [(ngModel)]="savedItem.description" id="description"></textarea>
                        <br>
                        <button class="btn btn-sm btn-outline-secondary" type="submit">Salvesta</button>
                    </div>
                </div>

            </div>
        </form>
    </div>

</div>