<div *ngIf="visible" class="addItemBorder" style="border-radius:8px;">

    <form role="form" #addItemForm="ngForm">
        <div class="row">
            <div class="col-lg-3 col-md-5 col-sm-12">
                <label for="title">
                    <b>Eseme nimi</b>
                </label>
                <input type="text" class="form-control" name="title" [(ngModel)]="model.title" id="title" placeholder="Nimetus" required>
            </div>


            <div class="col-lg-4 col-md-5 col-sm-12">
                <label for="description">
                    <b>Kirjeldus</b>
                </label>
                <textarea type="text" class="form-control textareasize" name="description" [(ngModel)]="model.description" id="description"
                    placeholder="Kirjeldus" required></textarea>
            </div>


            <div class="col-lg-3 col-md-5 col-sm-12">
                <label for="enddate">
                    <b>Oksjoni lõppaeg</b>
                </label>

                <div class="input-group" style="width:80%;">

                    <input class="form-control" placeholder="yyyy-mm-dd" name="enddate" [(ngModel)]="model.enddate" ngbDatepicker #d="ngbDatepicker"
                        required>
                    <span class="input-group-btn">
                        <button class="input-group-addon" (click)="d.toggle()" type="button">
                            <i class="fa fa-lg fa-calendar-plus-o" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
                <br>
                <ngb-timepicker [spinners]="spinners" name="endtime" type="date" [(ngModel)]="endtime" required></ngb-timepicker>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12">
                <br>
                <button class="btn btn-outline-dark btn-margin" (click)="onSubmit(false)" type="submit" [disabled]="!addItemForm.form.valid">Salvesta</button>
                <br>
                <br>
                <button class="btn btn-primary btn-dark" (click)="onSubmit(true)" type="submit" [disabled]="!addItemForm.form.valid">Lisa kohe oksjonile</button>
            </div>




        </div>

        <br>

    </form>
</div>