
form {
    margin-bottom: 20px;
    margin-right: 20px;
    padding-left:10px;
    padding-top:10px;
    
}

.addItemBorder {
    border: 1px solid #ccc;
    background: rgba($color: #ffffff, $alpha: 0.96);
}
  
  @media screen and (min-width: 992px) {
    .textareasize  {
        height: 98px;
    }
}


