<div *ngFor="let publicItem of publishedItems">
    <div class="row" style="padding-bottom: 30px">
        <div class="card" style="width: 20rem; justify-content:center;">

            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h5>{{publicItem.title}}</h5>
                    </div>
                    <button class="btn btn-sm btn-delete" (click)="endEarlier(publicItem)" placement="top" ngbTooltip="Lõpeta kohe">
                        <i class="fa fa-ban" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="card-body ">
                <h6 class="card-title">{{formatTimestamp(publicItem.timestamp)}}</h6>
                <p class="card-text">{{publicItem.description}}</p>
                <button class="btn btn-sm btn-outline-info" (click)="onClickOffers(publicItem)" *ngIf="publicItem.bids">Vaata pakkumisi ({{publicItem.bids.length}})</button>
                <show-bids [showBids]="item_id === publicItem._id" [bids]="publicItem.bids"></show-bids>

            </div>

        </div>
    </div>
</div>
<br>