
.btn-dark:focus, .btn-dark.focus {
      box-shadow: 0 0 0 0 transparent;
}
.btn-outline-dark:focus, .btn-outline-dark.focus {
    box-shadow: 0 0 0 0 transparent;
}

button:focus {
    outline: 0px;
}

.card-body {
    padding: 20px;
  }


.btn-delete {
    position: absolute;
    right: 12px;
    background: none;
      &:hover {
          color: red;
          //background: #CCC;
          border: 1px solid rgba($color: #ff0000, $alpha: 0.25);
      }
  }
.btn-edit {
    position: absolute;
    right: 40px;
    background: none;
      &:hover {
        color: blue;
        border: 1px solid rgba($color: blue, $alpha: 0.25)
      }
  }
  
.btn {
    border-radius: 10rem;
    float: right;
}

.card {
    border-radius: 6px;
}

.alert-fixed {
    margin-top:30px;
    position: fixed;
}

.header  {
    background: rgb(11, 10, 22) !important;
}

nav{
  padding-top:3px; 
  //min-height: 70px;
}

.navbar-brand {
  position: absolute;
  right: calc(50% - 10px);
}
