
$theme-colors: (
    "primary": #0074d9,
    "danger": #ff4136,
    "info": rgb(175, 0, 67),
    "dark": #034e77
  );


  $border-radius:.1.2rem;
  $border-radius-sm:.1.2rem;
  $border-radius-lg:.1.2rem;
