<div>
  <br>
  <br>
</div>

<div class="container">

  <div class="row">
    <div class="col-lg-3 col-sm-1"></div>
    <div class="col-lg-5 col-sm-10">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['login']">Logi sisse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['signup']">Registreeri</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-1"></div>
  </div>

</div>