<div class="card">
    <div *ngIf="item.ended==true" class="card-header" style=" background: transparent;"  [ngClass]="{'text-danger':timeIsUp}">
                Lõppes: {{formatTimestamp1(item.timestamp)}}
        </div>
    <div *ngIf="item.ended==false" class="card-header"  style=" background: transparent;" [ngClass]="{'text-danger':timeIsUp}">
        Aega on jäänud: {{formattedTime}}
    </div>
    <img *ngIf="item.ended==false" class="card-img-top" src='http://thecatapi.com/api/images/get?format=src&type=gif' alt="Card image cap">
    <img *ngIf="item.ended==true" class="card-img-top" src='https://cataas.com/cat/gif' alt="Card image cap">
    
    
    <div class="card-body">
        <h4 class="card-title">{{item.title}}</h4>
        <p class="card-text">{{item.description}}</p>
        <button *ngIf="item.ended==false" class="btn btn-sm btn-outline-dark" (click)="toggleBidVisible(!bidVisible)">Tee pakkumine</button>
        <br>
        <add-bid [visible]="bidVisible" [item_id]="item._id" (hide)="toggleBidVisible(false)"></add-bid>
    </div>
</div>
<br>