<div *ngFor="let endedItem of endedItems">
    <div class="row" style="padding-bottom: 30px">
        <div class="card" style="width: 20rem; justify-content:center;">
            <div class="card-header ">
                <div class="row">
                    <div class="col-12">
                        <h5>{{endedItem.title}}</h5>
                    </div>
                    <button class="btn btn-sm btn-delete" (click)="removeItem(endedItem._id)" placement="top" ngbTooltip="Eemalda">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <h6 class="card-title">{{formatTimestamp(endedItem.timestamp)}}</h6>
                <p class="card-text">{{endedItem.description}}</p>
                <div *ngIf="endedItem.bids">
                    <div *ngFor="let bid of endedItem.bids; first as isFirst">
                        <div *ngIf="isFirst">
                            <div class="row">
                                <div class="col-3">
                                    <p style="margin-bottom:0px">Võitja:</p>
                                </div>
                                <div class="col-9">
                                    <p style="margin-bottom:0px;">
                                        <b>Pakkuja:</b> {{bid.bidder}}</p>

                                    <p style="margin-bottom:0px;">
                                        <b>Summa:</b> {{bid.price}}</p>
                                    <p style="margin-bottom:0px;">
                                        <b>Aeg:</b>{{formatTimestamp(bid.time)}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!endedItem.bids">
                    <p style="margin-bottom:-10px">Polnud ühtegi pakkumist</p>
                </div>
                <br>
                <button class="btn btn-sm btn-outline-info" (click)="onClickOffers(endedItem)" *ngIf="endedItem.bids">Vaata kõiki pakkumisi ({{endedItem.bids.length}})</button>

                <show-bids [showBids]="item_id === endedItem._id" [bids]="endedItem.bids"></show-bids>
            </div>

        </div>
    </div>
</div>