
@media screen and (min-width: 1024px) {
    .fixedHeight{
        height:2.84em;
    }
}

@media (min-width: 1200px) {
  .container{
      max-width: 1200px;
  }
}

#addButton {
    border-radius: 20rem;
}

