<div class="container">
    <br>

    <div class="fixedHeight d-none d-sm-block">
        <div class="row">

            <div class="col-lg-1 col-md-12">
                <button id="addButton" class="btn btn-lg btn-dark" role="button" aria-pressed="false" (click)="toggleAddItemForm(!visible)">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </div>

            <div class="col-lg-11 col-md-12" style="margin-top:-50px; z-index:1;">
                <br>
                <add-item [visible]="visible" [triggerLoadItems]="updateUserItems" (hide)="toggleAddItemForm(false)"></add-item>
            </div>
        </div>
    </div>


    <!--small devices only-->
    <div class="col-sm-12 d-md-none">
        <button class="btn btn-info" role="button" aria-pressed="false" (click)="toggleAddItemForm(!visible)">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <br>
        <add-item [visible]="visible" [triggerLoadItems]="updateUserItems" (hide)="toggleAddItemForm(false)"></add-item>
    </div>

    <br>
    <br>
    <br>

    <div class="row ">
        <div class="col-lg-4 col-md-5 d-none d-sm-block">
            <h3>Salvestatud</h3>
            <div class="panel panel-default d-flex flex-column-reverse my-flex-container-column" style="padding-top:24px;">
                <div *ngFor="let savedItem of savedItems;">
                    <saved-item-card (sendSavedItemToPublicList)="sendSavedItemToPublicList($event)" 
                                        (removeItemFromSavedList)="removeItemFromSavedList($event)"
                                        [savedItem]="savedItem"></saved-item-card>
                    <br>
                </div>

            </div>
        </div>

        <div class="col-lg-4 col-md-5 col-sm-12">
            <h3>Avalikud</h3>
            <div class="panel panel-default d-flex flex-column-reverse my-flex-container-column" style="padding-top:24px;">
                <published-item-card (sendPublishItemToEndedList)="sendPublishItemToEndedList($event)" [publishedItems]="publishedItems"></published-item-card>
            </div>
        </div>

        <div class="col-lg-4 col-md-5 d-none d-sm-block">
            <h3>Lõppenud</h3>
            <div class="panel panel-default d-flex flex-column-reverse my-flex-container-column" style="padding-top:24px;">
                <ended-item-card [endedItems]="endedItems"></ended-item-card>
            </div>
        </div>
    </div>
</div>