<div class="container">

    <router-outlet></router-outlet>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <br>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" [ngClass]="{'btn btn-dark': activeItems, 'btn btn-outline-dark': !activeItems }" (click)="showitems('activeItems')"
                    style="border-radius:10rem;">Aktiivsed pakkumised</button>
                <button type="button" [ngClass]="{'btn btn-dark': !activeItems, 'btn btn-outline-dark': activeItems }" (click)="showitems('endedItems')"
                    style="border-radius:10rem;">Lõppenud</button>
            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12" *ngFor="let item of filteredItems">
            <item-card [item]="item" (removeItemFromItemsList)="removeItemFromItemsList($event)"></item-card>
        </div>

    </div>

</div>