
<div *ngIf="showBids">
<br>
<br>
<hr>
    <div class="row">

        <div class="col-4">
            <h6>Pakkuja</h6>
        </div>
        <div class="col-4">
            <h6>Summa</h6>
        </div>
        <div class="col-4">
            <h6>Aeg</h6>
        </div>

    </div>

    <div *ngFor="let bid of bids; first as isFirst">
        <div class="row" [ngStyle]="{'color':isFirst === true ? 'blue' : 'black' }">
            <div class="col-4" style="font-size:12px;">
                {{bid.bidder}}
            </div>
            <div class="col-4" style="font-size:12px;">
              {{bid.price}}
            </div>
            <div class="col-4" style="font-size:12px;">
                {{formatTimestamp(bid.time)}}
            </div>
        </div>

    </div>

</div>